.trilhas {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem 0 2rem;
}

.trilhas li:nth-child(1) {
  margin-left: 0;
}

.trilhas li:nth-child(3n) {
  margin-right: 0;
}

.trilhas li:nth-child(4) {
  margin-left: 0;
}

.trilhas ul {
  display: flex;
  flex-wrap: wrap;
}

.trilhas li {
  padding: 2.3rem;
}

.box-trilha {
  width: 20rem;
  height: 24rem;
  border-radius: 4px;
  margin: 20px;

  background: #F5F5F5;

  display: flex;
  flex-grow: 1;
}

.titulos-trilha {
  font-weight: 600;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 31px;

  color: #364372;
}

.texto-trilha {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  flex: auto;

  color: #000000;
}

.botao-ementa {
  font-weight: 400;
  font-size: 14px;

  color: var(--cornflower-color);

  border: 1px solid var(--cornflower-color);
  border-radius: 4px;

  width: 50%;
  height: 47.48px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-texto {
  display: flex;
  flex-direction: column;
}

.box {
  height: 100%;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}